html, body{
    padding: 0%;
    margin: 0%;
    background-color: #191919;
    color: #FFFBFE;
}

/* style for the sidebar */
.sidebar{
    background-color: transparent;
    height: 100%;
    width: 20%;
}
h1{
    text-align: center;
    font-family: 'Carrois Gothic SC', sans-serif !important;
    padding: 2.5%;
    padding-bottom: 0%;
}
.form-inline{
    display: block;
    margin: auto;
}
.navbar{
    background-color: transparent !important;
}
.search-input-container{
    background-color: #000000;
    color: #FFFFFF;
    padding: 5px 10px;
    width: auto;
}
#search-box{
    background-color: transparent;
    border: none !important;
    outline: none !important;
    padding: 0% !important;
    /* margin: -5% auto !important; */
    margin-top: -5px !important;
    color: #FFFFFF;
    text-indent: 8px;
}
#search-btn{
    display: block;
    margin: 10px auto !important;
}
.form-control:focus{
    border-color: none !important;
    box-shadow: none !important;
}
@-webkit-keyframes autofill {
    to {
        color: #FFFFFF;
        background: transparent;
    }
}
input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
.btn-outline-success{
    color: #FFFBFE;
    border-color:#FFFBFE;
}
.btn-outline-success:hover{
    background-color: #4F4F54;
    border-color:#FFFBFE;
}
.sidebar .btn{
    margin: 2px;
}
.topic-btn{
    font-size: 1.2em;
    font-family: 'Harmattan', sans-serif !important;
    border-color: #3F6887;
    color: #FFFBFE;
}
.topic-btn:hover{
    background-color: #3F6887;
    border-color: #3F6887;
}

/* style for gif container */
#giphy-container .row{
    display: inline-flex;
    padding: 1%;
}
#giphy-container .row .col{
    margin: 5px;
    position: relative;
}
.giphy{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
    display: block;
    margin: auto;
    border: 2px solid #FFFBFE;
}
.rating{
    font-family: 'Carrois Gothic SC', sans-serif !important;
    text-align: center;
}

/* media queries for tables */
@media screen and (max-width: 1024px){
    .sidebar{
        width: 30%;
    }
    .navbar{
        width: 100%;
        display: block;
    }
    .search-input-container{
        width: 100%;
    }
    #search-box{
        width: 100%;
        margin-top: -50px !important;
        text-indent: 25px;
    }
    #search-btn{
        display: block;
        margin: 10px 25% !important;
    }
}

@media screen and (max-width: 960px){
    .sidebar{
        width: 30%;
    }
    .navbar{
        width: 100%;
        display: block;
    }
    .search-input-container{
        width: 100%;
    }
    #search-box{
        width: 100%;
        margin-top: -40% !important;
    }
    #search-btn{
        display: block;
        margin: 10px 20% !important;
    }
}

/* media queries for mobiles */
@media screen and (max-width: 640px){
    .sidebar{
        width: 100%;
    }
    .search-input-container{
        width: 100%;
        /* background-color: red; */
    }
    #search-box{
        /* background-color: blue; */
        margin-top: -30px !important;
        text-indent: 25px;
    }
    #search-btn{
        display: block;
        margin: 10px auto !important;
    }
}